* {
    font-family: 'PlaypenSans';
}

body{
    padding: 10px;
    background: #90dbfb;
    border: 5px solid #003b4a;
}

.header {
    font-size: 500%;
    text-align: center;
    font-weight: bold;
}

.pic {
    float: left;
    margin: 5px;
}